@tailwind base;
@tailwind components;
@tailwind utilities;

.container-snap::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
}

.toast-message {
  color: #fff;
  margin: 10px;
  width: 300px;
  height: 80px;
}
